.PaymentFormContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.FormContainer {
    height: 100px;
    min-width: 500px;
}