.catalog-container {
  width: 100%;
  margin-top: 100px;
  padding: 0 350px 0 350px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
 
  justify-content: space-evenly;
  @media screen and (max-width: 800px) {
  
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 31px;
      }
}