.catalog-container {
  width: 100%;
  padding: 0 50px 0 50px;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  @media screen and (max-width: 800px) {
  
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
      }
}