.shoppingCartContainer{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    cursor: pointer;
    
    .shoppingCartItemsNumber{
        position: absolute;
    font-size: 16px;
    bottom: 3px;
       }
    
       .shoppingCartIcon {
        width: 48px;
        height: 48px;
        stroke-width: 1;
      }
  
    
}

