@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.category-preview-container {
    margin-top: 100px;
    
    
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    
    .title {
    
      margin-bottom: 25px;
      cursor: pointer;
      @media screen and (max-width: 600px) {
        align-items: center;
        flex-wrap: nowrap;
        display:flex;
        flex-direction: column;
        padding-top: 20px;
          }
    }
  
    .preview {
      padding: 0 350px 0 350px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      justify-content: space-evenly;
      // column-gap: 45px;
      
      text-align: left;
      @media screen and (max-width: 600px) {
        align-items: center;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        padding: 30px 20px 20px 30px;
          }
      
    }
    
  }
  