@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.category-container {
    margin-top: 100px;
    padding: 0 350px 0 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    // column-gap: 20px;
    row-gap: 20px;
    @media screen and (max-width: 600px) {
        align-items: center;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
          }
}

.category-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
    @media screen and (max-width: 600px) {
        align-items: center;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        padding: 20px;
          }
}