.profile-modal{
    background:  rgba(0,0,0,0.8);
    opacity: 60%;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: 100;
    
}

.profile-modal2{
    background: black;
    opacity: 60%;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: 100;
}

.profile-modal-menu{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;;
    opacity: 100%;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    width: 400px;
    height: 600px;
    // display: flex;
    // flex-direction: column;
    padding: 40px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 101;
    @media screen and (max-width: 800px) {
        margin-top: -40px;
        width: 350px;
        height: 550px;
    }
    
    .x-mark-icon{
        color: black;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 15;
    }
    .x-mark-icon:hover{
        opacity: 60%;
    }
}