@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap');


.NavContainer {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 50px 0 50px;
}

.NavLinksContainer {
    font-family:  'Orbitron', sans-serif;
    font-weight: 900;
    color: rgb(223, 191, 191);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 800px) {
    margin-top: 35px;
    margin-right: -60px;
    display: flex;
    flex-direction: column;
      }
}

.NavLink {
    padding: 5px 15px;
    cursor: pointer;
}

