@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap');

.NavContainer {
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 50px 0 50px;
    background-color: white;
    z-index: 5;
    @media screen and (max-width: 800px) {
        display: grid;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        height: 120px;
        
          }
}

.NavLinksContainer {
    margin-left: -10px;
    margin-top: 20px;
    font-family:  'Orbitron', sans-serif;
    font-weight: 900;
    color: black;
    height: 100%;
    display: flex;
   
}



.NavLink {
    padding: 10px 10px;
    cursor: pointer;

    &.Shop{
        opacity: 1;
    }

    
    
}


