.auth-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto;
    @media screen and (max-width: 800px) {
        width: auto;
        // justify-content: flex-start;
        // margin-top: 25px;
        // margin-right: -30px;
           display: flex;
           flex-direction: column;
          }
    
}