.scrollUpContainer{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
    
 
    
       .scrollUpIcon {
        width: 48px;
        height: 48px;
      }
  
    
}