@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sign-in-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 380px;
}

h2 {
    margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}